// COLORS

$color-white: #fff;
$color-dark: #000;

$color-gray-light: #f8f9fb;
$color-gray-light-1: #a3a3a3;
$color-gray-light-2: rgba(64, 64, 64, 0.04);

$color-gray-dark1: #777;
$color-gray-dark2: #999;
$color-gray-dark3: #333;

$text-color: #404040;
$text-color-green: #22a958;

$color-green-light-1: rgba(32, 39, 26, 0.08);
$color-green-light-2: #5ba839;
$color-green-light-3: rgba(34, 169, 88, 0.04);

$card-shadow: rgba(0, 0, 0, 0.1);

// FONT
$font-size-small: 1.2rem;
$font-size-medium: 1.4rem;
$font-size-regular: 1.6rem;
$font-size-large: 1.7rem;

$font-weight-ultraLight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;
$font-weight-bolder: 700;

// Box Shadow

$box-shadow-2: 0 2px 12px 0 $card-shadow;